.container {
    margin-top: 20px;

    .userTable {
        margin-top: 10px;
    }

    .emailAddress {
        margin-top: 10px;
    }

    .userTel {
        margin-top: 15px;
    }

    .pass {
        margin-top: 10px;
    }

    .btn {
        margin-top: 5px;
    }
}